:root {
  --bg-color: #FFFFFF;
  --main-text-color: #000000;

  /* #region header */
  --header-bg-color: #000000;
  --menu-text-color: #FFFFFF;
  --menu-text-secondary-color: #DCDCDC;
  --header-height: 130px;
  --header-logo-width: 253px;
  --menu-link-size: 36px;
  /* #endregion */

  /* #region gallery */
  --gallery-margin-bottom: 200px;
  --gallery-item-center-column-gap: 18px;
  --gallery-item-center-row-gap: 42px;
  --gallery-img-first-line-width: 460px;
  --gallery-img-first-line-height: 410px;
  --gallery-img-second-line-width: 460px;
  --gallery-img-second-line-height: 360px;
  --gallery-img-side-width: 370px;
  --gallery-img-side-height: 580px;
  /* #endregion */

  /* #region services */
  --services-items-item-p-size: 48px;
  --services-items-item-width: 450px;
  --services-items-item-height: 450px;
  --services-items-item-img-width: 350px;
  --services-items-item-img-height: 350px;
  --services-height: 1080px;
  /* #endregion */

  /* #region team */
  --team-margin-bottom: 200px;
  --team-title-font-size: 96px;
  --team-title-margin-bottom: 50px;
  --team-list-member-width: 400px;
  --team-list-member-height: 677px;
  /* #endregion */

  /* #region contact */
  --contact-container-py: 100px;
  --contact-container-px: 162px;
  --contact-header-column-gap: 35px;
  --contact-header-mb: 95px;
  --contact-header-leftwidth: 940px;
  --contact-title-line-height: 78px;
  --contact-title-font-size: 64px;
  --contact-title-mb: 40px;
  --contact-form-py: 25px;
  --contact-form-px: 35px;
  --contact-form-props-mb: 42px;
  --contact-form-props-width: 390px;
  --contact-form-props-height: 80px;
  --contact-form-message-width: 850px;
  --contact-form-message-height: 209px;
  --contact-form-message-pt: 20px;
  --contact-form-props-pl: 20px;
  --contact-form-props-font-size: 36px;
  --contact-form-props-line-height: 44px;
  --contact-map-width: 626px;
  --contact-map-height: 608px;
  --contact-footer-column-gap: 80px;
  --contact-footer-font-size: 30px;
  --contact-footer-line-height: 36px;
  --contact-footer-opening-title-font-size: 36px;
  --contact-footer-opening-title-line-height: 44px;
  --contact-footer-opening-title-mb: 40px;
  --contact-footer-social-links-line-height: 26px;
  --contact-footer-social-links-my: 10px;
  /* #endregion */
}

@media(max-width: 1537px) {
  :root {
    /* #region header */
    --header-height: 70px;
    --header-logo-width: 173px;
    --menu-link-size: 26px;
    /* #endregion */

    /* #region gallery */
    --gallery-margin-bottom: 100px;
    --gallery-item-center-column-gap: 9px;
    --gallery-item-center-row-gap: 21px;
    --gallery-img-first-line-width: 360px;
    --gallery-img-first-line-height: 330px;
    --gallery-img-second-line-width: 360px;
    --gallery-img-second-line-height: 280px;
    --gallery-img-side-width: 310px;
    --gallery-img-side-height: 520px;
    /* #endregion */

    /* #region services */
    --services-items-item-p-size: 38px;
    --services-items-item-width: 350px;
    --services-items-item-height: 350px;
    --services-items-item-img-width: 250px;
    --services-items-item-img-height: 250px;
    --services-height: 980px;
    /* #endregion */

    /* #region team */
    --team-margin-bottom: 100px;
    --team-title-font-size: 76px;
    --team-title-margin-bottom: 25px;
    --team-list-member-width: 320px;
    --team-list-member-height: 600px;
    /* #endregion */

    /* #region contact */
    --contact-container-py: 50px;
    --contact-container-px: 100px;
    --contact-header-column-gap: 25px;
    --contact-header-mb: 65px;
    --contact-header-leftwidth: 740px;
    --contact-title-line-height: 58px;
    --contact-title-font-size: 44px;
    --contact-title-mb: 25px;
    --contact-form-py: 15px;
    --contact-form-px: 25px;
    --contact-form-props-mb: 28px;
    --contact-form-props-width: 300px;
    --contact-form-props-height: 50px;
    --contact-form-message-width: 670px;
    --contact-form-message-height: 180px;
    --contact-form-message-pt: 10px;
    --contact-form-props-pl: 10px;
    --contact-form-props-font-size: 26px;
    --contact-form-props-line-height: 34px;
    --contact-map-width: 530px;
    --contact-map-height: 444px;
    --contact-footer-column-gap: 60px;
    --contact-footer-font-size: 20px;
    --contact-footer-line-height: 26px;
    --contact-footer-opening-title-font-size: 26px;
    --contact-footer-opening-title-line-height: 34px;
    --contact-footer-opening-title-mb: 25px;
    --contact-footer-social-links-line-height: 25px;
    --contact-footer-social-links-my: 3px;
    /* #endregion */
  }
}

/* #region reset */
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li,
p {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
}

/* #endregion */

/* #region common properties */
.d-flex {
  display: flex;
}

.jc-sb {
  justify-content: space-between;
}

.jc-sa {
  justify-content: space-around;
}

.ai-c {
  align-items: center;
}

.ta-c {
  text-align: center;
}

.m-auto {
  margin: auto;
}

.w-100 {
  width: 100%;
}

/* #endregion */

/* #region body */
body {
  background-color: var(--bg-color);
  font-family: 'Volkhov', serif;
  color: var(--main-text-color);
  margin: 0;
  position: relative;
  overflow-x: hidden;
}

/* #endregion */

/* #region header */
.header {
  background-color: var(--header-bg-color);
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.header__logo {
  width: var(--header-logo-width);
  height: var(--header-height);
}

.header__menu {
  display: flex;
  align-items: center;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  column-gap: 50px;
  margin-right: 32px;
}

.menu__link {
  font-family: 'Rosario', sans-serif;
  color: var(--menu-text-color);
  font-size: var(--menu-link-size);
  font-style: italic;
  font-weight: 700;
  line-height: 44px;
}

.menu__link:hover {
  color: var(--menu-text-secondary-color);
}

/* #endregion */

/* #region gallery */
.gallery {
  padding: calc(var(--header-height) * 1.3) 40px 30px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--gallery-margin-bottom);
}

.gallery__item-center {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: var(--gallery-item-center-column-gap);
  row-gap: var(--gallery-item-center-row-gap);
}

.gallery__img-first-line {
  width: var(--gallery-img-first-line-width);
  height: var(--gallery-img-first-line-height);
  border-radius: 30px;
}

.gallery__img-second-line {
  width: var(--gallery-img-second-line-width);
  height: var(--gallery-img-second-line-height);
  border-radius: 30px;
}

.gallery__img-side {
  width: var(--gallery-img-side-width);
  height: var(--gallery-img-side-height);
  border-radius: 40px;
}

/* #endregion */

/* #region animations */
.anim-1 {
  animation: 1s linear 0s alternate slidein1;
}

@keyframes slidein1 {
  from {
    /* pushes the sun down past the viewport */
    transform: translateX(-30vw);
  }

  to {
    /* returns the sun to its default position */
    transform: translateX(0);
  }
}

.anim-2 {
  animation: 1s linear 0s alternate slidein2;
}

@keyframes slidein2 {
  from {
    /* pushes the sun down past the viewport */
    transform: translateX(30vw);
  }

  to {
    /* returns the sun to its default position */
    transform: translateX(0);
  }
}

.anim-side-left {
  animation: 2s linear 0s alternate slidein-side-left;
}

@keyframes slidein-side-left {
  from {
    /* pushes the sun down past the viewport */
    transform: translateX(-40vw);
  }

  to {
    /* returns the sun to its default position */
    transform: translateX(0);
  }
}

.anim-side-right {
  animation: 2s linear 0s alternate slidein-side-right;
}

@keyframes slidein-side-right {
  from {
    /* pushes the sun down past the viewport */
    transform: translateX(40vw);
  }

  to {
    /* returns the sun to its default position */
    transform: translateX(0);
  }
}

/* #endregion */

/* #region services */
.services {
  display: flex;
  height: var(--services-height);
  margin-bottom: 200px;
  position: relative;
}

.services__items {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services__items__item {
  width: var(--services-items-item-width);
  height: var(--services-items-item-height);
  text-align: center;
}

.services__items__item img {
  width: var(--services-items-item-img-width);
  height: var(--services-items-item-img-height);
  border-radius: 50%;
}

.services__items__item p {
  font-family: Rosario;
  font-size: var(--services-items-item-p-size);
  font-style: italic;
  font-weight: 700;
  line-height: 58px;
  text-align: center;
}

.services__img-1 {
  position: absolute;
  right: 0;
  width: 50vw;
  height: var(--services-height);
}

/* #endregion */

/* #region animation */
@keyframes moveClockwise {
  0% {
    transform: translateX(0) translateY(0);
  }

  25% {
    transform: translateX(100%) translateY(0);
  }

  50% {
    transform: translateX(100%) translateY(100%);
  }

  75% {
    transform: translateX(0%) translateY(100%);
  }

  100% {
    transform: translateX(0) translateY(0);
  }
}

@keyframes moveClockwise2 {
  0% {
    transform: translateX(0) translateY(0);
  }

  25% {
    transform: translateX(0%) translateY(-100%);
  }

  50% {
    transform: translateX(100%) translateY(-100%);
  }

  75% {
    transform: translateX(100%) translateY(0%);
  }

  100% {
    transform: translateX(0) translateY(0);
  }
}

@keyframes moveClockwise3 {
  0% {
    transform: translateX(0) translateY(0);
  }

  25% {
    transform: translateX(0%) translateY(100%);
  }

  50% {
    transform: translateX(-100%) translateY(100%);
  }

  75% {
    transform: translateX(-100%) translateY(0);
  }

  100% {
    transform: translateX(0) translateY(0);
  }
}

@keyframes moveClockwise4 {
  0% {
    transform: translateX(0) translateY(0);
  }

  25% {
    transform: translateX(-100%) translateY(0%);
  }

  50% {
    transform: translateX(-100%) translateY(-100%);
  }

  75% {
    transform: translateX(0%) translateY(-100%);
  }

  100% {
    transform: translateX(0) translateY(0);
  }
}

.anim-HairStyling {
  animation: moveClockwise 15s infinite;
}

.anim-SmoothShave {
  animation: moveClockwise2 15s infinite;
}

.anim-BeardTrimming {
  animation: moveClockwise3 15s infinite;
}

.anim-HairStraightening {
  animation: moveClockwise4 15s infinite;
}

/* #endregion */

/* #region team */
.team {
  margin-bottom: var(--team-margin-bottom);
}

.team__title {
  font-family: Rosario;
  font-size: var(--team-title-font-size);
  font-weight: 700;
  line-height: 177px;
  text-align: center;
  margin-bottom: var(--team-title-margin-bottom);
}

.team__list {
  display: flex;
  justify-content: space-around;
}

.team__list__member {
  cursor: pointer;
  position: relative;

  width: var(--team-list-member-width);
  height: var(--team-list-member-height);
  border-radius: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  transition: filter 0.3s ease;
  filter: brightness(60%);
}

.team__list__member:hover {
  filter: none;
}

.team__list__member:hover div {
  display: block;
}

.team__list__member_Meredith {
  background-image: url(images/team/Meredith.png);
}

.team__list__member_Jason {
  background-image: url(images/team/Jason.png);
}

.team__list__member_Ryan {
  background-image: url(images/team/Ryan.png);
}

.team__list__member_James {
  background-image: url(images/team/James.png);
}

.team__list__member__name {
  display: none;
  position: absolute;
  bottom: 0;
  width: var(--team-list-member-width);
  height: calc(var(--team-list-member-height) * 0.20);
  background-color: #A3530AB2;
  border-radius: 0 0 40px 40px;

  color: #FFFAFA;
  font-family: Volkhov;
  font-size: 48px;
  font-weight: 400;
  line-height: calc(var(--team-list-member-height) * 0.20);
  text-align: center;
}

/* #endregion */

/* #region contact*/
.contact {}

.contact__container {
  padding: var(--contact-container-py) var(--contact-container-px);
}

.contact__header {
  display: flex;
  column-gap: var(--contact-header-column-gap);
  margin-bottom: var(--contact-header-mb);
}

.contact__header__left {
  width: var(--contact-header-leftwidth);
}

.contact__title {
  font-family: Rosario;
  font-size: var(--contact-title-font-size);
  font-style: italic;
  font-weight: 700;
  line-height: var(--contact-title-line-height);
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: var(--contact-title-mb);
  margin-right: 130px;
}

.contact__form {
  background-color: #E5E5E5;
  padding: var(--contact-form-py) var(--contact-form-px);
}

.contact__form__props {
  display: flex;
  gap: 50px;
  margin-bottom: var(--contact-form-props-mb);
}

.contact__form__props__name,
.contact__form__props__email {
  width: var(--contact-form-props-width);
  height: var(--contact-form-props-height);
}

.contact__form__message {
  width: var(--contact-form-message-width);
  height: var(--contact-form-message-height);
  padding-top: var(--contact-form-message-pt);
}

.contact__form__props__name,
.contact__form__props__email,
.contact__form__message {
  border: none;
  padding-left: var(--contact-form-props-pl);
  font-family: Rosario;
  font-size: var(--contact-form-props-font-size);
  font-weight: 700;
  line-height: var(--contact-form-props-line-height);
  letter-spacing: 0em;
  text-align: left;
  color: #00000080;
}

.contact__map {
  width: var(--contact-map-width);
  height: var(--contact-map-height);
}

.contact__footer {
  display: flex;
  justify-content: space-around;
  column-gap: var(--contact-footer-column-gap);

  font-family: Rosario;
  font-size: var(--contact-footer-font-size);
  font-style: italic;
  font-weight: 600;
  line-height: var(--contact-footer-line-height);
  letter-spacing: 0em;
  text-align: center;
}

.contact__footer a {
  color: var(--main-text-color);
}

.contact__footer__subtitles {
  font-family: Rosario;
  font-style: normal;
  font-size: var(--contact-footer-font-size);
  font-weight: 700;
  line-height: var(--contact-footer-line-height);
  letter-spacing: 0em;
  text-align: center;
}

.contact__footer_contacts {}

.contact__footer__opening {}

.contact__footer__opening__title {
  font-family: Rosario;
  font-style: normal;
  font-size: var(--contact-footer-opening-title-font-size);
  font-weight: 700;
  line-height: var(--contact-footer-opening-title-line-height);
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: var(--contact-footer-opening-title-mb);
}

.contact__footer_social {}

.contact__footer__social__links__container {
  text-align: left;
  width: fit-content;
  margin: auto;
}

.contact__footer__social__links {
  margin: var(--contact-footer-social-links-my) auto;
  line-height: var(--contact-footer-social-links-line-height);
}

/* #endregion */