:root {
  --bg-color: #FFFFFF;
  --main-text-color: #000000;

  /* header */
  --header-bg-color: #000000;
  --menu-text-color: #FFFFFF;
  --menu-text-secondary-color: #DCDCDC;
  --header-height: 130px;

  /* services */
  --services-height: 1080px;
}

@media(max-width: 768px) {
  :root {
    --header-height: 70px;
  }
}

/* #region reset */
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li,
p {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
}

/* #endregion */

/* #region common properties */
.d-flex {
  display: flex;
}

.jc-sb {
  justify-content: space-between;
}

.jc-sa {
  justify-content: space-around;
}

.ai-c {
  align-items: center;
}

.ta-c {
  text-align: center;
}

.m-auto {
  margin: auto;
}

.w-100 {
  width: 100%;
}

/* #endregion */

/* #region body */
body {
  background-color: var(--bg-color);
  font-family: 'Volkhov', serif;
  color: var(--main-text-color);
  margin: 0;
  position: relative;
}

/* #endregion */

/* #region header */
.header {
  background-color: var(--header-bg-color);
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.header__logo {
  width: 253px;
  height: var(--header-height);
}

.header__menu {
  display: flex;
  align-items: center;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  column-gap: 50px;
  margin-right: 32px;
}

.menu__link {
  font-family: 'Rosario', sans-serif;
  color: var(--menu-text-color);
  font-size: 36px;
  font-style: italic;
  font-weight: 700;
  line-height: 44px;
}

.menu__link:hover {
  color: var(--menu-text-secondary-color);
}

/* #endregion */

/* #region gallery */
.gallery {
  padding: calc(var(--header-height) * 1.3) 40px 30px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 200px;
}

.gallery__item-center {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 18px;
  row-gap: 42px;
}

.gallery__img-first-line {
  width: 460px;
  height: 410px;
  border-radius: 30px;
}

.gallery__img-second-line {
  width: 460px;
  height: 360px;
  border-radius: 30px;
}

.gallery__img-side {
  width: 370px;
  height: 580px;
  border-radius: 40px;
}

/* #endregion */

/* #region animations */
.anim-1 {
  animation: 1s linear 0s alternate slidein1;
}

@keyframes slidein1 {
  from {
    /* pushes the sun down past the viewport */
    transform: translateX(-30vw);
  }

  to {
    /* returns the sun to its default position */
    transform: translateX(0);
  }
}

.anim-2 {
  animation: 1s linear 0s alternate slidein2;
}

@keyframes slidein2 {
  from {
    /* pushes the sun down past the viewport */
    transform: translateX(30vw);
  }

  to {
    /* returns the sun to its default position */
    transform: translateX(0);
  }
}

.anim-side-left {
  animation: 2s linear 0s alternate slidein-side-left;
}

@keyframes slidein-side-left {
  from {
    /* pushes the sun down past the viewport */
    transform: translateX(-40vw);
  }

  to {
    /* returns the sun to its default position */
    transform: translateX(0);
  }
}

.anim-side-right {
  animation: 2s linear 0s alternate slidein-side-right;
}

@keyframes slidein-side-right {
  from {
    /* pushes the sun down past the viewport */
    transform: translateX(40vw);
  }

  to {
    /* returns the sun to its default position */
    transform: translateX(0);
  }
}

/* #endregion */

/* #region services */
.services {
  display: flex;
  height: var(--services-height);
  margin-bottom: 200px;
}

.services__items {
  width: 50vw;
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.services__items__item {
  width: 450px;
  height: 450px;
  text-align: center;
}

.services__items__item img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}

.services__items__item p {
  font-family: Rosario;
  font-size: 48px;
  font-style: italic;
  font-weight: 700;
  line-height: 58px;
  text-align: center;
}

.services__img-1 {
  position: absolute;
  right: 0;
  height: var(--services-height);
}

/* #endregion */

/* #region animation */
@keyframes moveClockwise {
  0% {
    transform: translateX(0) translateY(0);
  }

  25% {
    transform: translateX(100%) translateY(0);
  }

  50% {
    transform: translateX(100%) translateY(100%);
  }

  75% {
    transform: translateX(0%) translateY(100%);
  }

  100% {
    transform: translateX(0) translateY(0);
  }
}

@keyframes moveClockwise2 {
  0% {
    transform: translateX(0) translateY(0);
  }

  25% {
    transform: translateX(0%) translateY(-100%);
  }

  50% {
    transform: translateX(100%) translateY(-100%);
  }

  75% {
    transform: translateX(100%) translateY(0%);
  }

  100% {
    transform: translateX(0) translateY(0);
  }
}

@keyframes moveClockwise3 {
  0% {
    transform: translateX(0) translateY(0);
  }

  25% {
    transform: translateX(0%) translateY(100%);
  }

  50% {
    transform: translateX(-100%) translateY(100%);
  }

  75% {
    transform: translateX(-100%) translateY(0);
  }

  100% {
    transform: translateX(0) translateY(0);
  }
}

@keyframes moveClockwise4 {
  0% {
    transform: translateX(0) translateY(0);
  }

  25% {
    transform: translateX(-100%) translateY(0%);
  }

  50% {
    transform: translateX(-100%) translateY(-100%);
  }

  75% {
    transform: translateX(0%) translateY(-100%);
  }

  100% {
    transform: translateX(0) translateY(0);
  }
}

.anim-HairStyling {
  animation: moveClockwise 15s infinite;
}

.anim-SmoothShave {
  animation: moveClockwise2 15s infinite;
}

.anim-BeardTrimming {
  animation: moveClockwise3 15s infinite;
}

.anim-HairStraightening {
  animation: moveClockwise4 15s infinite;
}

/* #endregion */

/* #region team */
.team {
  margin-bottom: 200px;
}

.team__title {
  font-family: Rosario;
  font-size: 96px;
  font-weight: 700;
  line-height: 177px;
  text-align: center;
  margin-bottom: 50px;
}

.team__list {
  display: flex;
  justify-content: space-around;
}

.team__list__member {
  cursor: pointer;
  position: relative;

  width: 400px;
  height: 677px;
  border-radius: 40px;
  background-size: contain;
  transition: filter 0.3s ease;
  filter: brightness(60%);
}

.team__list__member_Meredith {
  background-image: url(images/team/Meredith.png);
}

.team__list__member_Jason {
  background-image: url(images/team/Jason.png);
}

.team__list__member_Ryan {
  background-image: url(images/team/Ryan.png);
}

.team__list__member_James {
  background-image: url(images/team/James.png);
}

.team__list__member:hover {
  filter: none;
  /* Remove the blur effect on the hovered item */
}

.team__list__member:hover div {
  display: block;
}

.team__list__member__name {
  display: none;
  position: absolute;
  bottom: 0;
  width: 400px;
  height: 155px;
  background-color: #A3530AB2;
  border-radius: 0 0 40px 40px;

  color: #FFFAFA;
  font-family: Volkhov;
  font-size: 48px;
  font-weight: 400;
  line-height: 155px;
  text-align: center;
}

/* #endregion */

/* #region contact*/
.contact {}

.contact__container {
  padding: 100px 162px;
}

.contact__header {
  display: flex;
  column-gap: 35px;
  margin-bottom: 95px;
}

.contact__header__left {
  width: 940px;
}

.contact__title {
  font-family: Rosario;
  font-size: 64px;
  font-style: italic;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 40px;
  margin-right: 130px;
}

.contact__form {
  background-color: #E5E5E5;
  padding: 25px 40px 25px 35px;
}

.contact__form__props {
  display: flex;
  gap: 50px;
  margin-bottom: 42px;
}

.contact__form__props__name,
.contact__form__props__email {
  width: 390px;
  height: 80px;
}

.contact__form__message {
  width: 850px;
  height: 209px;
  padding-top: 20px;
}

.contact__form__props__name,
.contact__form__props__email,
.contact__form__message {
  border: none;
  padding-left: 20px;
  font-family: Rosario;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  color: #00000080;
}

.contact__map {
  width: 626px;
  height: 608px;
}

.contact__footer {
  display: flex;
  justify-content: space-around;
  column-gap: 80px;

  font-family: Rosario;
  font-size: 30px;
  font-style: italic;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
}

.contact__footer a {
  color: var(--main-text-color);
}

.contact__footer__subtitles {
  font-family: Rosario;
  font-style: normal;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
}

.contact__footer_contacts {}

.contact__footer__opening {}

.contact__footer__opening__title {
  font-family: Rosario;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 40px;
}

.contact__footer_social {}

.contact__footer_social__links__container {
  text-align: left;
  width: fit-content;
  margin: auto;
}

.contact__footer_social__links {
  margin: 10px auto;
  line-height: 26px;
}

/* #endregion */